body {
    background-color: #fff5eb;
    font-family: 'Merriweather', serif;
    text-align: center;
}

hr {
    border-style: dotted none none none;
    border-width: 10px;
    border-color: #0c9971;
    height: 10%;
    width: 50%;
}
p {
    font-size: larger;
}

h1 {
    color: #867AE9;
    
    font-family: 'Sacramento', cursive;
    font-size: xx-large;
}

h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}


div{
    padding-left: 2%;
}
.top-container{
    background-color: #E99497;
    border: solid;
    text-align: center;
    position: relative;

}

.middle-container{
    background-color: #F3C583;
    text-align: center;
    
}

.bottom-container{
    background-color: #E8E46E;
    
}


pro{
    text-decoration: underline;
}

.top-cloud{
    position: relative;
    left:25%;
}

.bottom-cloud{
    position: absolute;
}

.me{
    height: 512px;
    width: auto;
}
.profile{
    text-align: center;
}

.circular{
    height: 255px;
    width: auto;
}